<div layout="column">
    <form ng-submit="requestMore();">
        <div layout="row">
            <md-input-container>
                <label>موجودیت</label>
                <input ng-model="search.text">
            </md-input-container>

            <md-input-container>
                <label>ماژول</label>
                <md-select ng-model="search.module">
                    <md-option ng-value=""></md-option>
                    <md-option ng-repeat="m in modules" ng-value="m">
                        {{m}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container>
                <md-button class="md-raised md-primary" ng-click="requestMore();">تخصیص</md-button>
            </md-input-container>
        </div>
    </form>
    <div ng-if="data">
        <md-list-item class="md-1-line" ng-repeat="subject in data.subjects.list" ng-click="loadTriples(subject)">
            <div class="md-list-item-text" layout="column">
                <div class="rtl right" style="white-space: nowrap">
                    <span>{{subject.caption | mapPrefix}}</span>
                </div>
            </div>
        </md-list-item>
    </div>
</div>
